

<footer class="main-footer">
    <strong>Copyright &copy; <a href="javascript:void(0)">Clinito</a></strong>
</footer>


<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>

<!--iCheck-->
<script src="<%= data.site_plugins_url %>iCheck/icheck.min.js"></script>

<!-- Bootstrap 3.3.6 -->
<script src="<%= data.bootstrap_js_url %>bootstrap.min.js"></script>

<!--iCheck-->
<script src="<%= data.site_plugins_url %>angular-drag-and-drop/angular-drag-and-drop-lists.min.js"></script>

 <!--Chosen-->
 <script type="text/javascript" src="<%= data.site_plugins_url %>chosen_v1.5.0/chosen.jquery.min.js"></script>

 <!--Angular Animate-->
 <!--<script type="text/javascript" src="<%= data.site_plugins_url %>angular-animate/angular-animate.min.js"></script>-->

<!-- Sparkline -->
<script src="<%= data.site_plugins_url; %>sparkline/jquery.sparkline.min.js"></script>

<!-- jvectormap -->
<script src="<%= data.site_plugins_url; %>jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="<%= data.site_plugins_url; %>jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- jQuery Knob Chart -->
<script src="<%= data.site_plugins_url; %>knob/jquery.knob.js"></script>

<!-- daterangepicker -->
<script src="<%= data.site_plugins_url;%>/moment/moment.min.js"></script>
<script src="<%= data.site_plugins_url; %>daterangepicker/daterangepicker.js"></script>

<!-- datepicker -->
<script src="<%= data.site_plugins_url; %>datepicker/bootstrap-datepicker.js"></script>

<!-- Bootstrap WYSIHTML5 -->
<script src="<%= data.site_plugins_url; %>bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<!-- Slimscroll -->
<script src="<%= data.site_plugins_url; %>slimScroll/jquery.slimscroll.min.js"></script>

<!-- FastClick -->
<script src="<%= data.site_plugins_url; %>fastclick/fastclick.js"></script>

<!-- AdminLTE App -->
<script src="<%= data.site_js_url; %>app.min.js"></script>

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="<%= data.site_js_url; %>pages/dashboard.js"></script>

<!-- AdminLTE for demo purposes -->
<!--<script src="<%= data.site_js_url; %>demo.js"></script>-->

<!--Data Tables-->
<script type="text/javascript" src="<%= data.site_plugins_url %>datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="<%= data.site_plugins_url %>datatables/dataTables.bootstrap.min.js"></script>

<!--Dropzone-->
<script type="text/javascript" src="<%= data.site_plugins_url;%>dropzone/dropzone.js"></script>

<!-- Token Input Auto complete -->
<script type="text/javascript" src="<%= data.site_plugins_url;%>tokeninput/js/jquery.tokeninput.js"></script>

<!-- ckeditor -->
<script type="text/javascript" src="<%= data.site_plugins_url;%>ckeditor/ckeditor.js"></script>

<!--Tbale2excecl Angularjs -->
<script src="<%= data.site_plugins_url;%>ng-csv/ng-csv.min.js"></script>
<script src="<%= data.site_plugins_url;%>angular-sanitize/angular-sanitize.min.js"></script>

<!--Multiselect-->
<script src="<%= data.site_plugins_url %>multi-select/bootstrap-multiselect.js"></script>

<!--Bootstrap file upload-->

<!-- canvas-to-blob.min.js is only needed if you wish to resize images before upload.
     This must be loaded before fileinput.min.js -->
<script src="<%= data.site_plugins_url%>bootstrap-file-upload/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
     This must be loaded before fileinput.min.js -->
<script src="<%= data.site_plugins_url%>bootstrap-file-upload/plugins/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
     This must be loaded before fileinput.min.js -->
<script src="<%= data.site_plugins_url%>bootstrap-file-upload/plugins/purify.min.js" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script src="<%= data.site_plugins_url%>bootstrap-file-upload/fileinput.min.js"></script>
<!-- bootstrap.js below is needed if you wish to zoom and view file content 
<!-- optionally if you need a theme like font awesome theme you can include 
    it as mentioned below -->
<script src="<%= data.site_plugins_url%>bootstrap-file-upload/themes/theme.js"></script>

<!--Ajax form file upload-->
<script type="text/javascript" src="<%= data.site_plugins_url;%>ajaxFileUpload/jquery.form.js"></script>

</body>
</html>
