
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- disable page indexing -->
        <meta name="robots" content="noindex, nofollow" />

        <title>Clinito | Dashboard</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="<%= data.bootstrap_css_url %>bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="<%= data.site_css_url %>font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="<%= data.site_css_url %>ionicons/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="<%= data.site_css_url %>AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="<%= data.site_css_url %>skins/_all-skins.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>iCheck/flat/blue.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>morris/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>jvectormap/jquery-jvectormap-1.2.2.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>datepicker/datepicker3.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>daterangepicker/daterangepicker-bs3.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!-- DATA TABLES -->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>datatables/dataTables.bootstrap.css" type="text/css" />

        <!--icheck-->
        <link rel="stylesheet" href="<%= data.site_plugins_url %>iCheck/all.css">
        
        <!--Angular Simple Drag and Drop-->
        <link rel="stylesheet" href="<%= data.site_plugins_url %>angular-drag-and-drop/simple.css">
        
        <!--Chosen-->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>chosen_v1.5.0/chosen.min.css" />

        <!--Angular animate-->
        <!--<link rel="stylesheet" href="<%= data.site_plugins_url; %>angular-animate/ng-animation.css" />-->

        <!-- dropzone -->
        <link rel="stylesheet" href="<%= data.site_plugins_url;%>dropzone/dropzone.css">

        <!-- Token Input Auto complete -->
        <link rel="stylesheet" href="<%= data.site_plugins_url;%>tokeninput/css/token-input.css" type="text/css" />
        <link rel="stylesheet" href="<%= data.site_plugins_url;%>tokeninput/css/token-input-facebook.css" type="text/css" />
      
        
        <!--Bootstrap vertical css-->
        <link rel="stylesheet" href="<%= data.site_css_url;%>bootstrap.vertical-tabs.css" type="text/css" />
        
        <!--Bootstrap file uploader-->
        <link href="<%= data.site_plugins_url%>bootstrap-file-upload/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="<%= data.site_plugins_url; %>html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="<%= data.site_plugins_url; %>respond/1.4.2/respond.min.js"></script>
        
        <![endif]-->

        <!-- AngularJS-->
        <script src="<%= data.site_plugins_url; %>angular/angular.min.js"></script>

        <!-- AngularJS Routes-->
        <script src="<%= data.site_plugins_url; %>angular/angular-route.min.js"></script>

        <!-- jQuery 2.2.0 -->
        <script src="<%= data.site_plugins_url; %>jQuery/jQuery-2.2.0.min.js"></script>
        
        <!-- jQuery migrate-->
        <script src="<%= data.site_plugins_url; %>jQuery/jquery-migrate-1.4.1.min.js"></script>

        <!-- jQuery UI 1.11.4 -->
        <script src="<%= data.site_plugins_url; %>jQueryUI/jquery-ui.min.js"></script>
        
        <!-- jQuery UI 1.11.4 CSS -->
        <link rel="stylesheet" href="<%= data.site_plugins_url; %>jQueryUI/jquery-ui.min.css" type="text/css">

        <!--Jquery validate-->
        <script src="<%= data.site_plugins_url; %>jquery-validation-1.15.0/jquery.validate.min.js"></script>

        <!--Angular validate-->
        <script src="<%= data.site_plugins_url; %>angular-validate-1.0.0/angular-validate.min.js"></script>

        <!--Jquery Form-->
        <script src="<%= data.site_plugins_url; %>jqueryform/jquery.form.js"></script>
        
        <!-- Jquery toaster -->
        <script src="<%= data.site_plugins_url; %>jquery-toaster/jquery.toaster.js"></script>

        <!-- Google charts -->
        <script src="<%= data.site_plugins_url; %>google-chart/loader.js"></script>
        
        <!--Custom CSS-->
        <link rel="stylesheet" href="<%= data.site_css_url %>style.css"></link>

        <!--Custom CSS-->
        <link rel="stylesheet" href="<%= data.site_css_url %>style_g.css"></link>

         <!--admin CSS-->
        <link rel="stylesheet" href="<%= data.site_css_url %>style-admin.css"></link>
        
        <!--Bootstrap multiselect-->
        <link rel="stylesheet" href="<%= data.site_plugins_url %>multi-select/bootstrap-multiselect.css"></link>
        
        <script type="text/javascript">
            // Load the Visualization API and the corechart package.
            google.charts.load('current', {'packages':['corechart']});
        </script>
        
        <!--Common JS-->
        <script src="<%= data.site_js_url %>common.js"></script>        

        <!--ng-table Angularjs -->
        <link rel="stylesheet" href="<%= data.site_plugins_url;%>/ng-table/ng-table.min.css">
        <script src="<%= data.site_plugins_url; %>/ng-table/ng-table.min.js"></script>
        
        <!--Angular controllers-->
        <script src="<%= data.site_js_url %>launcher.js"></script>
        <script src="<%= data.site_js_url %>controllers/categoryController.js"></script>
        <script src="<%= data.site_js_url %>controllers/filterController.js"></script>
        <script src="<%= data.site_js_url %>controllers/brandController.js"></script>
        <script src="<%= data.site_js_url %>controllers/productController.js"></script>
        <script src="<%= data.site_js_url %>controllers/manufacturerController.js"></script>
        <script src="<%= data.site_js_url %>controllers/relationsController.js"></script>
        <script src="<%= data.site_js_url %>controllers/userController.js"></script>
        <script src="<%= data.site_js_url %>controllers/departmentController.js"></script>
        <script src="<%= data.site_js_url %>controllers/offerController.js"></script>
        <script src="<%= data.site_js_url %>controllers/homepageController.js"></script>
        <script src="<%= data.site_js_url %>controllers/supplierController.js"></script>
        <script src="<%= data.site_js_url %>controllers/buyerController.js"></script>
        <script src="<%= data.site_js_url %>controllers/buyerDocController.js"></script>
        <script src="<%= data.site_js_url %>controllers/orderController.js"></script>
        <script src="<%= data.site_js_url %>controllers/shoppingListController.js"></script>
        <script src="<%= data.site_js_url %>controllers/salesController.js"></script>
        <script src="<%= data.site_js_url %>controllers/categoryPromotionsController.js"></script>
        <script src="<%= data.site_js_url %>controllers/reviewController.js"></script>
    </head>
    <body class="hold-transition skin-blue sidebar-mini" ng-app="medibridge-admin">
        <style type="text/css">
            #loader-wrapper {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 999999;
                background-color:rgba(255,255,255,0.9);
                display:table;
            }
            #loader{
                height:100%;
                display:table-cell;
                vertical-align:middle;
                text-align:center;
            }
        </style>
        <div id="loader-wrapper" style="display: none;">
            <div id="loader">
                <img src="<%= data.site_img_url; %>ajax-loader.gif">
            </div>
        </div>

        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="index2.html" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>C</b>LT</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img src="<%= data.site_img_url %>Clinito_Final_Logo.svg" alt="CLINITO"/></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu hide">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li><!-- start message -->
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="<%= data.site_img_url %>user2-160x160.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <!-- end message -->
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="<%= data.site_img_url %>user3-128x128.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        AdminLTE Design Team
                                                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="<%= data.site_img_url %>user4-128x128.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Developers
                                                        <small><i class="fa fa-clock-o"></i> Today</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="<%= data.site_img_url %>user3-128x128.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Sales Department
                                                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <img src="<%= data.site_img_url %>user4-128x128.jpg" class="img-circle" alt="User Image">
                                                    </div>
                                                    <h4>
                                                        Reviewers
                                                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li class="dropdown notifications-menu hide">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-red"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>                            
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="<%= data.site_img_url %>user2-160x160.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs"><%= userInfo.firstName+' '+userInfo.lastName %></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="<%= data.site_img_url %>user2-160x160.jpg" class="img-circle" alt="User Image">

                                        <p>
                                            <%= userInfo.firstName+' '+userInfo.lastName %>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </div>
                                    </li> -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-right">
                                            <a href="/user/logout" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
