
<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="<%= data.site_img_url %>user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= userInfo.firstName+' '+userInfo.lastName %></p>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">    
      <li class="header">MAIN NAVIGATION</li>    
        <!-- For Dashboard -->
        <% if((userInfo.access).indexOf('DASHBOARD') != -1) { %>
        <li class="hide">
          <a href="javascript:void(0)"><i class="fa"><img src="<%= data.site_img_url %>icon/dashobard.png" style=" width:18px;"></i> <span>Dashboard</span></a>
        </li>
        <% } %>

        <!-- Buyers -->
        <% if((userInfo.access).indexOf('BU-LIST') != -1 || (userInfo.access).indexOf('BU-ADD') != -1) { %>
        <li>
          <a href="#/buyers/"><i class="fa"><img src="<%= data.site_img_url %>icon/buyers.svg"  style=" width:20px;"></i> <span>Buyers</span></a>
        </li>
        <% } %>

        <!-- Suppliers -->
        <% if((userInfo.access).indexOf('SU-LIST') != -1) { %>
        <li>
          <a href="#/supplier/"><i class="fa"><img src="<%= data.site_img_url %>icon/suppliers.svg"   style=" width:20px;"></i> <span>Suppliers</span></a>
        </li>
        <% } %>

        <!-- Orders -->
        <% if((userInfo.access).indexOf('ORDER-LIST') != -1) { %>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa"><img src="<%= data.site_img_url %>icon/orders.svg"  style=" width:20px;"></i> <span>Orders</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <!-- Buyers -->
            <li><a href="#/orders/buyers/all/"><i class="fa fa-circle-o"></i> Buyers</a></li>

            <!-- Suppliers -->
            <li><a href="#/orders/suppliers/all/"><i class="fa fa-circle-o"></i> Suppliers</a></li>
          </ul>
        </li>
        <% } %>

        <!-- Shopping Lists -->
        <% if((userInfo.access).indexOf('SHOP-LIST') != -1) { %>
        <li>
          <a href="#/shopping-list/"><i class="fa"><img src="<%= data.site_img_url %>icon/shopping list.svg"   style=" width:20px;"></i> <span>Shopping Lists</span></a>
        </li>
        <% } %>

        <!-- Sales -->
        <% if((userInfo.access).indexOf('SALES-LIST') != -1) { %>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa"><img src="<%= data.site_img_url %>icon/my-points.svg" style=" width:20px;"></i> <span>Sales</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <!-- All -->
            <li><a href="#/sales/"><i class="fa fa-circle-o"></i> All</a></li>

            <!-- Suppliers -->
            <li><a href="#/sales/supplier/"><i class="fa fa-circle-o"></i> Supplier</a></li>
          </ul>
        </li>
        <% } %>

        <!-- Offers -->
        <% if((userInfo.access).indexOf('OFFER-LIST') != -1) { %>
        <li>
          <a href="#/offer/"><i class="fa"><img src="<%= data.site_img_url %>icon/offer.png"></i> <span>Offers</span></a>
        </li>
        <% } %>

        <!-- Promotions -->
        <% if((userInfo.access).indexOf('PROMOTION-LIST') != -1) { %>
        
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa"><img src="<%= data.site_img_url %>icon/promotion.png" style=" width:20px;"></i> <span>Promotions</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <!-- Home -->
            <li><a href="#/promotions/tab1/"><i class="fa fa-circle-o"></i> <span>Home</span></a></li>

            <!-- Category -->
            <li><a href="#/categoryPromotions/"><i class="fa fa-circle-o"></i> <span>Category</span></a></li>
          </ul>
        </li>
          
        <% } %>

        <!-- Master Pages -->
        <% 
        if( ((userInfo.access).indexOf('MA-LIST') > -1) ||
            ((userInfo.access).indexOf('MA-DEPT-LIST') > -1) ||
            ((userInfo.access).indexOf('MA-CAT-LIST') > -1) ||
            ((userInfo.access).indexOf('MA-PROD-ADD') > -1) ||
            ((userInfo.access).indexOf('MA-FILT-LIST') > -1) ||
            ((userInfo.access).indexOf('MA-BRAND-LIST') > -1) ||
            ((userInfo.access).indexOf('MA-MAF-LIST') > -1) ||
            ((userInfo.access).indexOf('MA-USR-LIST') > -1)
          ) {
        %>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa"><img src="<%= data.site_img_url %>icon/master.png"  style=" width:20px;"></i> <span>Master Page</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <% if((userInfo.access).indexOf('MA-LIST') != -1) { %>
            <li class="hide"><a href="javascript:void(0)"><i class="fa fa-circle-o"></i> Home</a></li>
            <% } %>

            <!-- Departments -->
            <% if((userInfo.access).indexOf('MA-DEPT-LIST') != -1) { %>
            <li><a href="#/department/"><i class="fa fa-circle-o"></i> Departments</a></li>
            <% } %>

            <!-- Categories -->
            <% if((userInfo.access).indexOf('MA-CAT-LIST') != -1) { %>
            <li><a href="#/category/"><i class="fa fa-circle-o"></i> Categories</a></li>
            <% } %>

            <!-- Products -->
            <% if((userInfo.access).indexOf('MA-PROD-ADD') != -1) { %>
            <li><a href="#/product/"><i class="fa fa-circle-o"></i> Products</a></li>
            <% } %>

            <!-- Filters -->
            <% if((userInfo.access).indexOf('MA-FILT-LIST') != -1) { %>
            <li><a href="#/filter/"><i class="fa fa-circle-o"></i> Filters</a></li>
            <% } %>

            <!-- Brands -->
            <% if((userInfo.access).indexOf('MA-BRAND-LIST') != -1) { %>
            <li><a href="#/brand/"><i class="fa fa-circle-o"></i> Brands</a></li>
            <% } %>

            <!-- Manufactureres -->
            <% if((userInfo.access).indexOf('MA-MAF-LIST') != -1) { %>
            <li><a href="#/manufacturer/"><i class="fa fa-circle-o"></i> Manufacturers</a></li>
            <% } %>

          </ul>
        </li>
        <% } %>

        <!-- Relations -->
        <% if((userInfo.access).indexOf('RELATION-ADD') != -1) { %>
        <li>
          <a href="#/relations/create/"><i class="fa"><img src="<%= data.site_img_url %>icon/relation.svg"  style=" width:20px;"></i> <span>Relation</span></a>
        </li>
        <% } %>
        
        <!-- Inventory -->
        <% 
        if( ((userInfo.access).indexOf('INV-MAIN-LIST') > -1) ||
            ((userInfo.access).indexOf('INV-SU-LIST') > -1) ) {
        %>
        <li class="treeview">
          <a href="javascript:void(0)">
            <i class="fa"><img src="<%= data.site_img_url %>icon/inventory.png"  style=" width:20px;"></i> <span>Inventory</span>
            <i class="fa fa-angle-down pull-right"></i>
          </a>
          <ul class="treeview-menu">
          <!-- Main catalogue -->
            <% if((userInfo.access).indexOf('INV-MAIN-LIST') != -1) { %>
            <li><a href="#/product/"><i class="fa fa-circle-o"></i> Main</a></li>
            <% } %>

            <!-- Supplier catalogue -->
            <% if((userInfo.access).indexOf('INV-SU-LIST') != -1) { %>
            <li><a href="#/product/supplier/"><i class="fa fa-circle-o"></i> Supplier</a></li>
            <% } %>
          </ul>
        </li>
        <% } %>

        <!-- Messages -->
        <% if((userInfo.access).indexOf('MSG') != -1) { %>
        <li class="hide">
          <a href="javascript:void(0)"><i class="fa"><img src="<%= data.site_img_url %>icon/messages.svg"   style=" width:20px;"></i> <span>Messages</span></a>
        </li>
        <% } %>

        <!-- Users -->
        <% if((userInfo.access).indexOf('ADMIN-USER-LIST') != -1) { %>
        <li>
          <a href="#/user/"><i class="fa"><img src="<%= data.site_img_url %>icon/users.png"   ></i> <span>Roles</span></a>
        </li>
        <% } %>

        <!-- Reviews and Rating -->
        <% if((userInfo.access).indexOf('REVIEW-LIST') != -1) { %>
        <li>
          <a href="#/reviews/"><i class="fa"><img src="<%= data.site_img_url %>icon/review&rattings.svg"   ></i> <span>Ratings</span></a>
        </li>
        <% } %>

        <!-- Settings -->
        <% if(0) { %>
        <li>
          <a href="javascript:void(0)"><i class="fa"><img src="<%= data.site_img_url %>icon/settings.png"></i> <span>Settings</span></a>
        </li>
        <% } %>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
