<% include blog.ejs %>
<% include about.ejs %>
<% include no-access.ejs %>

<% include ./category/add.ejs %>
<% include ./category/list.ejs %>
<% include ./category/edit.ejs %>

<% include ./filter/add.ejs %>
<% include ./filter/list.ejs %>
<% include ./filter/edit.ejs %>

<% include ./brand/add.ejs %>
<% include ./brand/list.ejs %>
<% include ./brand/edit.ejs %>

<% include ./product/add.ejs %>
<% include ./product/list.ejs %>
<% include ./product/edit.ejs %>
<% include ./product/edit-supplier.ejs %>
<% include ./product/list-supplier.ejs %>

<% include ./manufacturer/add.ejs %>
<% include ./manufacturer/list.ejs %>
<% include ./manufacturer/edit.ejs %>

<% include ./user/add.ejs %>
<% include ./user/list.ejs %>
<% include ./user/edit.ejs %>

<% include ./relations/create.ejs %>

<% include ./department/add.ejs %>
<% include ./department/edit.ejs %>
<% include ./department/list.ejs %>

<% include ./offer/add.ejs %>
<% include ./offer/edit.ejs %>
<% include ./offer/list.ejs %>

<% include ./home/create.ejs %>
<% include ./home/tab1.ejs %>
<% include ./home/tab2.ejs %>
<% include ./home/tab3.ejs %>
<% include ./home/tab4.ejs %>
<% include ./home/tab5.ejs %>
<% include ./home/tab6.ejs %>
<% include ./home/tab7.ejs %>

<% include ./supplier/list.ejs %>
<% include ./buyer/list.ejs %>
<% include ./buyer/edit.ejs %>
<% include ./buyer/addbuyer.ejs %>

<% include ./supplier/basicinfo.ejs %>
<% include ./supplier/businessref.ejs %>
<% include ./supplier/rmdetails.ejs %>
<% include ./supplier/bankdetails.ejs %>
<% include ./supplier/companydetails.ejs %>
<% include ./supplier/businessreg.ejs %>
<%include ./supplier/addsupplier.ejs %>
<%include ./supplier/addresses.ejs %>

<% include ./orders/orderDetails.ejs %>
<% include ./orders/allBuyers.ejs %>
<% include ./orders/buyer.ejs %>
<% include ./orders/allSuppliers.ejs %>
<% include ./orders/supplier.ejs %>

<% include ./shopping-list/list.ejs %>
<% include ./shopping-list/suppliers.ejs %>
<% include ./shopping-list/products.ejs %>

<% include ./sales/all.ejs %>
<% include ./sales/supplier.ejs %>

<% include ./categoryPromotions/list.ejs %>
<% include ./categoryPromotions/divider1.ejs %>
<% include ./categoryPromotions/divider2.ejs %>
<% include ./categoryPromotions/divider3.ejs %>
<% include ./categoryPromotions/divider4.ejs %>
<% include ./categoryPromotions/divider5.ejs %>
<% include ./categoryPromotions/divider6.ejs %>


<% include ./review/allReviews.ejs %>

